// Heading Color
$heading-color: rgba(0, 0, 0, 0.8);

// Text Color
$text-color: #004040;

// Default Background
$bg-default: #008080;

// Gray Background
$bg-gray: #f7f7f7;

// White Color
$white-color: #ffffff;

// Dark Color
$dark-color: #006666;

// Border Color
$border-color: #ebebeb;

// Hover Color
$hover-color: #008C8C;

// Footer Color
$footer-color: #252525;

// Border Color
$border-color: #ebebeb;